﻿@model Evaluacion.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.headquartes.nameHeadquartes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.headquartes.nameHeadquartes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialitys.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialitys.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.years)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.years)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfBirth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTeacher }) |
    @Html.ActionLink("Back to List", "Index")
</p>
